
#header {
    position: relative;
    font-size: 1.3rem;
    border-color: #EEE;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    display:flex; align-items:center;
}

#header-logo {
    display: inline-block;
    cursor: pointer;
    padding: 1px;
}

#header-content {
    display: inline-block;
    position: absolute;
    float: right;
    right: 3rem;
}

#header-user-name {
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem 0 1rem;
}

#header-refresh {
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 .5rem 0 .5rem;
}
#header #ajax-loader{
    display: inline-block;
    font-size: 2rem;
    margin: 0 .5rem 0 .5rem;
    width: 20px;
    height: 20px;
}
#header #ajax-loader img{
    width: 100%;
    height: 100%;
}

#header-options {
   display: inline-block;
   font-size: 2rem;
   cursor: pointer;
   margin: 0 .5rem 0 .5rem;
}

#header-close-popup {
   font-size: 1.3rem;
   cursor: pointer;
   position: absolute;
   top: .5rem;
   right: .5rem;
}