#tab-hot .tab-content {padding: 1rem 1rem 1rem 3rem;}
#tab-hot ol{ color: #AAA; }
#tab-hot .nav-tabs > li.active > a{background-color: #EEE;  font-weight: bold;  }
#tab-hot .nav-tabs > li > a {  padding: 5px 7px;  }
#tab-hot .nav-tabs {    padding: 1rem .5rem 0 .5rem; }
#tab-hot .tab-content{margin-top: 1rem;}
#tab-hot .hot-list{ border-color: #EEE;  border-style: solid;  border-width: 0px 0px 1px 0px; }
#tab-hot .hot-list a:hover {color: #DD3333;}
